@page "/dashboard"
@inherits DashboardBase
@using BaseLibrary.DTOs
@using PersonalFinanceApp.Web.Services
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Popups
@using PersonalFinanceApp.Web.Components
@using PersonalFinanceApp.Web.Models
@using System.Globalization

<PageTitle>Dashboard</PageTitle>
<AuthorizeView Context="authorized">
    <Authorizing>
        <div class="d-flex justify-content-center m-5 align-items-center">
            <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </Authorizing>
    <Authorized>
        <EditForm Model="EditableDateRange" OnValidSubmit="async(context)=>await UpdateData((DateRange)context.Model)">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputRadioGroup class="form-check" Value="@periodOption"
                             ValueChanged="@((PeriodOption po)=>ChangePeriodOption(po))" ValueExpression="()=>periodOption">
                <div class="d-flex flex-row">
                    <div class="m-1">
                        <InputRadio class="form-check-input" Value="@PeriodOption.Monthly" />
                        Monthly
                    </div>
                    <div class="m-1">
                        <InputRadio class="form-check-input m-1" Value="@PeriodOption.AllTime" />
                        All Time
                    </div>
                    <div class="m-1">
                        <InputRadio class="form-check-input" Value="@PeriodOption.Custom" />
                        Custom
                    </div>
                </div>
                @if (periodOption == PeriodOption.Monthly)
                {
                    <input class="form-control"
                           type="month" value="@(DateRange.EndDate.ToString("yyyy-MM"))" min="@(oldestTransactionDate.ToString("yyyy-MM"))" max="@(newestTransactionDate.ToString("yyyy-MM"))" @onchange="SelectMonth"></input>
                }
                <div class="flex-row" style="display:@(periodOption == PeriodOption.Custom?"flex":"none");">
                    <InputDate class="form-control" @bind-Value="EditableDateRange.StartDate" placeholder="yyyy-MM-dd" min="@(GetFormattedDate(oldestTransactionDate))" max="@GetFormattedDate(newestTransactionDate)" />
                    <InputDate class="form-control" @bind-Value="EditableDateRange.EndDate" placeholder="yyyy-MM-dd" min="@GetFormattedDate(EditableDateRange.StartDate)" max="@GetFormattedDate(DateTime.Today.ToLocalTime())" />
                    <button class="btn btn-outline-primary mx-1" type="submit">Update</button>
                </div>
            </InputRadioGroup>
        </EditForm>

        <div class="container">
            <div class="row">
                <div class="card col border-2 text-center p-2 m-2">
                    <h2>Balance</h2>
                    <h2 style="color:royalblue">@(balance.HasValue ? balance.Value.ToString("C", CultureInfo.CreateSpecificCulture("en-US")) : "$-")</h2>
                </div>
                <div class="card col border-2 text-center p-2 m-2">
                    <h2>Expenses</h2>
                    <h2 style="color:crimson">
                        @(expense.HasValue ? expense.Value.ToString("C", CultureInfo.CreateSpecificCulture("en-US")) : "$-")
                    </h2>
                </div>
                <div class="card col border-2 text-center p-2 m-2">
                    <h2>Income</h2>
                    <h2 style="color:green">
                        @(income.HasValue ? income.Value.ToString("C", CultureInfo.CreateSpecificCulture("en-US")) : "$-")
                    </h2>
                </div>
            </div>
        </div>

        <div class="card border-2 m-2 p-2">
            <div class="card-title">
                <h4 class="text-center">Summary</h4>
            </div>
            <div class="card-body">
                <SummaryChart TransactionService="TransactionService" @ref="summaryChart"></SummaryChart>
            </div>
        </div>
        <div class="card border-2 m-2 p-2">
            <div class="card-body">
                <MonthlyStats TransactionService="TransactionService" Categories="Categories" @ref="monthlyStats"></MonthlyStats>
            </div>
        </div>
    </Authorized>
</AuthorizeView>