@page "/transactions"
@inherits TransactionsBase
@using BaseLibrary.DTOs
@using PersonalFinanceApp.Web.Services
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Popups
@using PersonalFinanceApp.Web.Components

<PageTitle>Transactions</PageTitle>
<div class="px-2">
    <AuthorizeView Context="authorized">
        <Authorizing>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </Authorizing>
        <Authorized>
            <div class="d-flex">
                <p style="font-size:1.5rem; margin:0;">Transactions</p>
                <div style="flex:1;font-size:1.5rem;">
                    <button class="btn btn-outline-success" style="margin-left:1rem;" @onclick="AddTransactionBtn_Clicked">New Transaction </button>
                </div>
                <button class="btn btn-outline-light" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    <i class="fa-solid fa-sliders"></i>
                </button>
            </div>
            <div class="collapse" id="collapseFilter">
                <br>
                <TransactionsFilter Type="currentTransactionType" RequestHelper="RequestHelper" Categories="Categories" PaymentMethods="PaymentMethods" TransactionService="TransactionService" OnSearch="async()=>{await OnFiltersUpdated();}"></TransactionsFilter>
            </div>
            <br />
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link @(currentTransactionType==TransactionTypes.Expense?"active":"")" aria-current="page" href="#"
                    @onclick:preventDefault @onclick="async()=>await OnTabSelected(TransactionTypes.Expense)">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(currentTransactionType==TransactionTypes.Income?"active":"")" aria-current="page" href="#"
                    @onclick:preventDefault @onclick="async()=>await OnTabSelected(TransactionTypes.Income)">Income</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(currentTransactionType==TransactionTypes.All?"active":"")" aria-current="page" href="#"
                    @onclick:preventDefault @onclick="async()=>await OnTabSelected(TransactionTypes.All)">All</a>
                </li>
            </ul>

            <div class="w-100 pt-1">
                <div class="d-flex justify-content-between" style="background-color:var(--bs-tertiary-bg)">
                    <div class="d-flex flex-row p-1">
                        <h5 class="m-0 p-0">
                            Total
                            <TransactionsTotal Filters="RequestHelper" TransactionService="TransactionService" @ref="transactionsTotal"></TransactionsTotal>
                        </h5>
                    </div>
                    <button id="deleteButton" @onclick="DeleteTransactions" class="btn btn-outline-light" disabled>
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <div style="overflow-x:scroll;">
                    <TransactionsGrid TransactionService="TransactionService" RequestHelper="RequestHelper" OnTransactionClicked="async(id)=>await DisplayTransaction(id)"
                    OnTransactionsUpdate="async()=>await UpdateTotal()" @ref="TransactionsGrid"></TransactionsGrid>                                       
                </div>
            </div>

            <SfDialog Width="500px" EnableResize="false" ShowCloseIcon="true" IsModal @bind-Visible=shouldShowDialog>
                <DialogTemplates>
                    <Header>
                        @(CurrentTransaction == null ? "Add Transaction" : "Edit Transaction")
                    </Header>
                    <Content>
                        <TransactionEditor Transaction="@CurrentTransaction" OnSuccessfullySubmitted="OnTransactionAdded"
                                           OnSuccessfullyUpdated="OnTransactionUpdated" OnCancel="HideDialog"></TransactionEditor>
                    </Content>
                </DialogTemplates>
                <DialogEvents OnClose="HideDialog"></DialogEvents>
            </SfDialog>
        </Authorized>
    </AuthorizeView>
</div>
<style>
    .items-toggle {
    }
</style>

